{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}



    Not sure where to go from here with the relation...


{#    {{  form(assign_form) }}#}



    <div class="mt-6">
        <h4 class="tracking-tight text-[22px] font-semibold">
            <a class="hover:underline" href="{{ path('app_assign_index') }}">Go back to Assigned list</a>
        </h4>
    </div>


{% endblock %}

